@import '../../styles/_base';
@import '../../styles/variables';

.us-section {
  width: 100%;
  padding: $spacing-6xl $spacing-xl;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-bottom: 500px;

  &__title {
    @extend .eterea-title;
    font-family: $font-primary;
    font-weight: 400;
    font-size: $title-size;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    margin: 0;
  }

  &__body {
    @extend .eterea-body;
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-2xl $spacing-lg;
    gap: $spacing-4xl;

    &__title {
      font-size: $font-size-2xl;
    }
  }

  @media (max-width: $breakpoint-sm) {
    padding: 6rem $spacing-md $spacing-xl $spacing-md;
    gap: $spacing-2xl;

    &__title {
      font-size: $font-size-xl;
    }

    &__body {
      font-size: $font-size-base;
    }
  }
} 