@import '../../styles/_base';
@import '../../styles/variables';

.landing-us {
  font-family: $font-secondary;
  margin-top: 350px;
  padding: 0 20px;
  text-align: center;
  color: #393431;

  &__title {
    @extend .eterea-title;
  }

  &__body {
    @extend .eterea-body;
  }
} 

@media (max-width: $breakpoint-sm) {
  .landing-us {
    margin-top: 100px;
  }
}