@import '../../styles/_base';
@import '../../styles/variables';

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  margin: 0 auto 6rem auto;
  width: 100%;
  max-width: 55rem;
  padding: 0 1.5rem;

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
    &--bottom {
      margin-top: 2.5rem;
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 3.1875rem;
    object-fit: contain;
    align-self: center;
    &--inverted {
      transform: scaleY(-1);
    }
  }

  &__center {
    @extend .eterea-content-block;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    width: 100%;
  }

  &__title {
    @extend .eterea-title;
    font-family: $font-primary;
    font-weight: 400;
    font-size: $title-size;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: $spacing-lg;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 500px;
  }

  &__desc {
    @extend .eterea-body;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: $breakpoint-md) {
  .services-section {
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 0 1rem;

    &__title {
      font-size: 2rem;
    }

    &__desc {
      font-size: 1rem;
    }

    &__buttons {
      gap: 2rem;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .services-section {
    gap: 1.5rem;
    margin-bottom: 3rem;

    &__title {
      font-size: 1.75rem;
    }

    &__buttons {
      gap: 1.25rem;
      align-items: center;
      max-width: 280px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
    }
  }
} 