@import '../../styles/_base';
@import '../../styles/variables';

.contacto {
  min-height: 100vh;
  position: relative;
  background: #F7F6F4;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  &__content {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0;
    margin-top: 7rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__group--social {
    margin-top: 24px;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Revans', sans-serif;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #393431;
    vertical-align: middle;
  }

  &__label, &__separator {
    font-family: 'Revans', sans-serif;
    font-weight: 400;
    font-size: $font-size-lg;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #393431;
    vertical-align: middle;
  }

  &__value {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: $font-size-base;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #393431;
    vertical-align: middle;
    padding-bottom: 4px;
    text-transform: none;
  }

  &__separator {
    margin: 0;
  }

  .footer {
    margin-top: auto;
  }

  @media (max-width: 600px) {
    &__main {
      padding: 8rem 0 4rem 0;
    }
    &__intro {
      margin-bottom: 16px;
      font-size: 1.1rem;
    }
    &__content {
      max-width: 95vw;
      gap: 24px;
    }
    &__line {
      font-size: 16px;
    }
    &__label, &__separator, &__value {
      font-size: 16px;
    }
  } 
}

.footer--contact {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 230px;
  padding: 0;
} 