@import '../../styles/_base';
@import '../../styles/variables';

.landing-us {
  font-family: $font-secondary;
  margin-top: 100px;
  margin-bottom: 400px;
  padding: 0 20px;
  text-align: center;
  color: #393431;

  &__title {
    @extend .eterea-title;
  }

  &__body {
    @extend .eterea-body;
  }
} 

@media (max-width: $breakpoint-sm) {
  .landing-us {
    margin-top: 0;
  }
  .landing-us__eterea-content-block {
    margin-top: 0 !important;
  }
  .landing-us__eterea-button {
    margin-top: 0 !important;
  }
}