@import '../../styles/variables';

.section-intro {
  font-family: 'Hedvig Letters Sans', sans-serif;
  font-weight: 400;
  font-size: $body-font-size;
  line-height: $body-line-height;
  letter-spacing: 0%;
  text-align: center;
  color: #393431;
  margin: 3.5rem 0 4.5rem 0;
  white-space: pre-line;
} 


@media (max-width: $breakpoint-sm) {
  .section-intro {
    margin: $spacing-xl 0 $spacing-6xl 0;
  }
}