// Revans Font Family
@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-Normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Revans';
  src: url('/assets/fonts/Revans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Hedvig Letters Sans
@font-face {
  font-family: 'Hedvig Letters Sans';
  src: url('/assets/fonts/HedvigLettersSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Fasthand
@font-face {
  font-family: 'Fasthand';
  src: url('/assets/fonts/Fasthand-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 